

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Ciao @User.Identity.Name</p>
<a href="/Users/ProfilePage" class="btn btn-primary">Pagine Profilo</a>
@Html.ActionLink("ListaProdotti", "AllProducts","Home", new { area = "" }, new { @class = "btn btn-primary" })

